<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>MinistereTransport</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>gss</servlet-name>
    <servlet-class>com.esias.stage.vue.getSousSecteursServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>gss</servlet-name>
    <url-pattern>/getsoussecteur</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>gbs</servlet-name>
    <servlet-class>com.esias.stage.vue.getbrancheServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>gbs</servlet-name>
    <url-pattern>/getbranche</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>gqs</servlet-name>
    <servlet-class>com.esias.stage.vue.getQualificationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>gqs</servlet-name>
    <url-pattern>/getqualification</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>as</servlet-name>
    <servlet-class>com.esisas.stage.business.AuthentificationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>as</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>aes</servlet-name>
    <servlet-class>com.esisas.stage.business.addEntrepriseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>aes</servlet-name>
    <url-pattern>/addEntreprise</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ames</servlet-name>
    <servlet-class>com.esisas.stage.business.addMaterielEntrepriseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ames</servlet-name>
    <url-pattern>/addMaterielEntreprise</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>aees</servlet-name>
    <servlet-class>com.esisas.stage.business.addEmployeEntrepriseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>aees</servlet-name>
    <url-pattern>/addEmployeEntrepr</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ammes</servlet-name>
    <servlet-class>com.esisas.stage.business.addMasseEntrepriseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ammes</servlet-name>
    <url-pattern>/addMasseEntreprise</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>acaes</servlet-name>
    <servlet-class>com.esisas.stage.business.addCAEntrepriseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>acaes</servlet-name>
    <url-pattern>/addCAEntreprise</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>arcaes</servlet-name>
    <servlet-class>com.esisas.stage.business.addRepCAEntrepriseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>arcaes</servlet-name>
    <url-pattern>/addRepCAEntreprise</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ads</servlet-name>
    <servlet-class>com.esisas.stage.business.addDossierServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ads</servlet-name>
    <url-pattern>/addDossier</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>gads</servlet-name>
    <servlet-class>com.esias.stage.vue.getalldossierServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>gads</servlet-name>
    <url-pattern>/getalldossier</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>gies</servlet-name>
    <servlet-class>com.esias.stage.vue.getInfoEntrepriseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>gies</servlet-name>
    <url-pattern>/getInfoEntreprise</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>vds</servlet-name>
    <servlet-class>com.esisas.stage.business.valideDossierServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>vds</servlet-name>
    <url-pattern>/valideDossier</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>gades</servlet-name>
    <servlet-class>com.esias.stage.vue.getalldossierEntrepriseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>gades</servlet-name>
    <url-pattern>/getalldossierEntreprise</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>gids</servlet-name>
    <servlet-class>com.esias.stage.vue.getinfoDossierServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>gids</servlet-name>
    <url-pattern>/getinfoDossier</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>prs</servlet-name>
    <servlet-class>com.esisas.stage.business.passwordresetServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>prs</servlet-name>
    <url-pattern>/passwordreset</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>mis</servlet-name>
    <servlet-class>com.esisas.stage.business.ModificationInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>mis</servlet-name>
    <url-pattern>/modifinfo</url-pattern>
  </servlet-mapping>
</web-app>